<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 主配置文件 -->
<configuration>
	
	<settings>
	<!-- 针对mybatis，使用log4j打印日志 -->
		<setting name="logImpl" value="LOG4J"/>
		<!-- 映射数据时，字段的下划线转驼峰命令方式 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.flamingo.pojo.Album" alias="album"></typeAlias>
        <typeAlias type="com.flamingo.pojo.Comment" alias="comment"></typeAlias>
        <typeAlias type="com.flamingo.pojo.Menu" alias="menu"></typeAlias>
        <typeAlias type="com.flamingo.pojo.Singer" alias="singer"></typeAlias>
        <typeAlias type="com.flamingo.pojo.Song" alias="song"></typeAlias>
		<typeAlias type="com.flamingo.pojo.User" alias="user"></typeAlias>


	</typeAliases>

<plugins>
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
        <!-- config params as the following -->
        <property name="helperDialect" value="mysql"/>
	</plugin>
</plugins>

</configuration>